.clients__list {
  display: flex;
  margin: -15px;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: 170px;
  height: 92px;
  margin: 15px;
  @extend %center-flex;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: calc((100% - 60px) / 2);

  &:hover,
  &:focus {
    border: 1px solid var(--primary-accent-color);
  }

  @include tablet {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }

  @include desktop {
    width: 170px;
    height: 92px;
  }
}

.clients__link {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__item:hover &,
  .clients__item:focus & {
    fill: var(--primary-accent-color);
  }
}
