.footer {
  background-color: #2f303a;
  color: var(--secondary-accent-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--secondary-accent-color);

  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.address {
  width: 231px;
  font-style: normal;
}

.address-wrap {
  margin-right: 70px;
}

.address__contact {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  margin-right: 93px;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.social__link--join {
  fill: var(--secondary-accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-accent-color);
    border-radius: 50%;
  }
}

.social__link--join:hover .social__icon,
.social__link--join:focus .social__icon {
  fill: var(--secondary-accent-color);
}

.subscribe__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-accent-color);

  margin-bottom: 20px;
}

.subscribe__field {
  margin-right: 12px;
  display: flex;
}

.subscribe__btn {
  display: flex;
  justify-content: center;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 28px;
  margin: 0;
  min-width: 200px;
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe__input {
  margin: 0;

  width: 358px;
  height: 50px;

  padding-left: 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 12px;
}
