.works {
  padding-top: 0px;
}

.works__title,
.team__title,
.clients__title {
  margin-bottom: 50px;
}

.works__list {
  display: flex;
}

.works__item {
  width: calc(100% - 60px / 3);
  /* outline: 2px solid tomato; */

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works__img {
  max-width: 100%;
  display: block;
}

.works__wrap {
  position: relative;
}

.works__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--buttons-color);

  padding-top: 27px;
  padding-bottom: 27px;
}

.works__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  @extend %center-flex;

  background-color: rgba(47, 48, 58, 0.8);
}
