.social__list {
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;

  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border-radius: 50%;

  @extend %center-flex;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-accent-color);
    border-radius: 50%;
  }
}

.social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.social__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social__link:hover &,
  .social__link:focus & {
    fill: var(--secondary-accent-color);
  }
}
